REMOTE_HOST=121.36.22.195
REMOTE_USER=root
REMOTE_PORT=22
REMOTE_WORK_ROOT=/data/work
REMOTE_REPO_DIR=/data/work/knowhere-src
REMOTE_BUILD_DIR=/data/work/knowhere-build
REMOTE_LOG_DIR=/data/work/logs
REMOTE_CCACHE_DIR=/data/work/ccache
REMOTE_VENV_DIR=/data/work/pyenv
SSH_IDENTITY_FILE=~/.ssh/agent/knowhere-x86-remote
DEFAULT_BRANCH=feat/pipnn-diskann
DEFAULT_BUILD_TYPE=Debug
WITH_UT=True
WITH_DISKANN=True
WITH_PIPNN=True
CONANCENTER_REMOTE_URL=https://center.conan.io
DEFAULT_CONAN_LOCAL_URL=https://milvus01.jfrog.io/artifactory/api/conan/default-conan-local
CONANCENTER_REMOTE_USER=
CONANCENTER_REMOTE_PASSWORD=
